In [ ]:
# Import libraries
import pandas as pd
import os

# dataset folder exists or not
print("Files inside 'ml-latest-small':")
print(os.listdir("ml-latest-small"))

# Loading the datasets
movies = pd.read_csv("ml-latest-small/movies.csv")
ratings = pd.read_csv("ml-latest-small/ratings.csv")
tags = pd.read_csv("ml-latest-small/tags.csv")
links = pd.read_csv("ml-latest-small/links.csv")

# Displaying first few rows of each dataset
print("\n Movies Dataset:")
display(movies.head())

print("\n Ratings Dataset:")
display(ratings.head())

print("\n Tags Dataset:")
display(tags.head())

print("\n Links Dataset:")
display(links.head())

# Basic info about datasets
print("\n===== Dataset Information =====")
print("Movies:", movies.shape)
print("Ratings:", ratings.shape)
print("Tags:", tags.shape)
print("Links:", links.shape)

Files inside 'ml-latest-small':
['.ipynb_checkpoints', 'links.csv', 'movies.csv', 'ratings.csv', 'README.txt', 'tags.csv']

 Movies Dataset:

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

 Ratings Dataset:

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

 Tags Dataset:

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

 Links Dataset:

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

===== Dataset Information =====
Movies: (9742, 3)
Ratings: (100836, 4)
Tags: (3683, 4)
Links: (9742, 3)

In [ ]:
# ‚Äî Data Cleaning and Exploration

#  Check for missing values
print("üîç Missing Values:\n")
print("Movies:\n", movies.isnull().sum())
print("\nRatings:\n", ratings.isnull().sum())
print("\nTags:\n", tags.isnull().sum())
print("\nLinks:\n", links.isnull().sum())

#  Check for duplicate entries
print("\n Duplicate Records:")
print("Movies:", movies.duplicated().sum())
print("Ratings:", ratings.duplicated().sum())
print("Tags:", tags.duplicated().sum())
print("Links:", links.duplicated().sum())

# Data types and summary info
print("\n Dataset Info:")
print("\nMovies:")
print(movies.info())
print("\nRatings:")
print(ratings.info())

#  Ratings basic statistics
print("\n Ratings Summary:")
print(ratings.describe())

#  Merge movies and ratings for easy analysis
movie_ratings = pd.merge(ratings, movies, on='movieId')

# Display first few rows of the merged data
print("\n Combined Movie-Rating Data:")
display(movie_ratings.head())

# Check how many unique users and movies
print("\n Unique Users:", movie_ratings['userId'].nunique())
print(" Unique Movies:", movie_ratings['movieId'].nunique())

#  Average rating per movie
avg_ratings = movie_ratings.groupby('title')['rating'].mean().sort_values(ascending=False)
print("\n Top 5 Highest Rated Movies:")
print(avg_ratings.head())

:

In [ ]:
#  ‚Äî Movie Recommendation System (Cosine Similarity)

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

# pivot table: rows = movie titles, columns = user IDs, values = ratings
movie_user_matrix = movie_ratings.pivot_table(index='title', columns='userId', values='rating').fillna(0)

# Compute cosine similarity between movies
cosine_sim = cosine_similarity(movie_user_matrix, movie_user_matrix)

# Convert to a DataFrame for readability
cosine_sim_df = pd.DataFrame(cosine_sim, index=movie_user_matrix.index, columns=movie_user_matrix.index)

print(" Cosine Similarity Matrix created successfully!")

# Function to get similar movies
def recommend_movies(movie_title, n=10):
    if movie_title not in cosine_sim_df.index:
        return f" Movie '{movie_title}' not found in dataset."

    # Get similarity scores for the movie
    similar_movies = cosine_sim_df[movie_title].sort_values(ascending=False)[1:n+1]
    return similar_movies

# Example: Recommend movies similar to "Toy Story (1995)"
recommendations = recommend_movies("Toy Story (1995)")
print("\n Movies similar to 'Toy Story (1995)':")
print(recommendations)

:

In [10]:
# ‚Äî Interactive Movie Recommender

def recommend_movies_pretty(movie_title, n=10):
    if movie_title not in cosine_sim_df.index:
        print(f" Movie '{movie_title}' not found in dataset.")
        return
    
    print(f"\n Movies similar to '{movie_title}':\n")
    similar_movies = cosine_sim_df[movie_title].sort_values(ascending=False)[1:n+1]
    
    for i, (movie, score) in enumerate(similar_movies.items(), start=1):
        print(f"{i}. {movie} ‚Äî Similarity Score: {score:.3f}")

# Ask user for input
user_input = input("Enter a movie title: ")
recommend_movies_pretty(user_input)

Enter a movie title:  Toy Story 2 (1999)

 Movies similar to 'Toy Story 2 (1999)':

1. Bug's Life, A (1998) ‚Äî Similarity Score: 0.620
2. Toy Story (1995) ‚Äî Similarity Score: 0.573
3. Shrek (2001) ‚Äî Similarity Score: 0.542
4. Monsters, Inc. (2001) ‚Äî Similarity Score: 0.532
5. Galaxy Quest (1999) ‚Äî Similarity Score: 0.516
6. Men in Black (a.k.a. MIB) (1997) ‚Äî Similarity Score: 0.516
7. Sixth Sense, The (1999) ‚Äî Similarity Score: 0.504
8. Truman Show, The (1998) ‚Äî Similarity Score: 0.487
9. X-Men (2000) ‚Äî Similarity Score: 0.487
10. Shrek 2 (2004) ‚Äî Similarity Score: 0.485

In [11]:
pip install streamlit

Requirement already satisfied: streamlit in d:\anaconda\lib\site-packages (1.45.1)
Requirement already satisfied: altair<6,>=4.0 in d:\anaconda\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in d:\anaconda\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in d:\anaconda\lib\site-packages (from streamlit) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in d:\anaconda\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in d:\anaconda\lib\site-packages (from streamlit) (2.1.3)
Requirement already satisfied: packaging<25,>=20 in d:\anaconda\lib\site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in d:\anaconda\lib\site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in d:\anaconda\lib\site-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<7,>=3.20 in d:\anaconda\lib\site-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in d:\anaconda\lib\site-packages (from streamlit) (19.0.0)
Requirement already satisfied: requests<3,>=2.27 in d:\anaconda\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in d:\anaconda\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in d:\anaconda\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in d:\anaconda\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in d:\anaconda\lib\site-packages (from streamlit) (4.0.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in d:\anaconda\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: tornado<7,>=6.0.3 in d:\anaconda\lib\site-packages (from streamlit) (6.5.1)
Requirement already satisfied: jinja2 in d:\anaconda\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in d:\anaconda\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in d:\anaconda\lib\site-packages (from altair<6,>=4.0->streamlit) (1.31.0)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in d:\anaconda\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: smmap<5,>=3.0.1 in d:\anaconda\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anaconda\lib\site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.10.5)
Requirement already satisfied: attrs>=22.2.0 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.22.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Note: you may need to restart the kernel to use updated packages.